@{
    ViewBag.Title = "Get your SIM";
}

    <div class="lebcontainer">
        <img src="https://www.lebara.sa/static/media/lebara-logo.b1bfbc20.png" style="width:146px; height:auto; z-index:10" />
        <img src="https://demo.simkomat.com/img/simkomat.png" />
        <div>&nbsp;</div>
        <a role="button" class="btn btn-primary" href="/Home/Register/">Start Service</a>
        @*Html.ActionLink("Start Service", "Register", new { @class = "btn btn-primary", role = "button" })*@
    </div>

<script type="text/javascript">
    $(function () {

    });

</script>