
@{
    ViewBag.Title = "Plans";
}

<div class="lebcontainer">
    <img src="https://www.lebara.sa/static/media/lebara-logo.b1bfbc20.png" style="width:146px; height:auto; z-index:10" />
    <div class="lebproduct">
        <h3>Lebara Prepaid</h3>
        <div class="productinnerbox">
            <div class="col-lg-8 productleft clearfix">
                <div class="productrightcontent" style="padding-top: 10px;">
                    <strong><br>Balance<br></strong>SAR 25
                </div>
                <div class="productrightcontent" style="padding-top: 10px;">
                    <strong><br>Price</strong><br>SAR 30
                </div>
                <div class="productrightcontent" style="padding-top: 10px;">
                    <p class="validy_column">
                        Valid for 180 days
                    </p>
                </div>
                <div class="productrightcontent" style="padding-top: 10px;">
                    <p class="validy_column">

                    </p>
                </div>
            </div>
            <div class="col-lg-4" style="text-align: center;">
                <h4 class="producth4">SAR 30</h4>
                <a class="btn btn-primary buyBtn BuyMNS2" href="/Home/Payment/30" role="button">
                    Go to payment
                </a>
            </div>
            <div style="clear: both; height: 1px;">
                &nbsp;
            </div>
        </div>
    </div>
</div>